
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Morfi-Fácil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header>
    <div class="holder justify-content-center">
        <div class="row">
          <div class="col-10" >
            <img src="/images/morfifacil.png" alt="Logo">
          </div>
        </div>
    </div>
    <div class="holder justify-content-center">
      <nav class="navbar navbar-expand-lg bg-light ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" class="activo" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/contactos">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Calendario</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Recetas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/recetas"><i class="fa-solid fa-pizza-slice"></i>Gestión de Recetas </a></li>
                <li><a class="dropdown-item" href="/recetas/vista"><i class="fa-solid fa-bowl-food"></i> Visualizador de recetas </a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Compras
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/compras"><i class="fa-solid fa-list"></i> Lista de Compras</a></li>
                <li><a class="dropdown-item" href="/compras/new"><i class="fa-solid fa-list-check" alt="Agregar ítems"></i> Agregar ítem</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/AltaUsuarios"><i class="fa-solid fa-user"></i> Usuarios </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/login"><i class="fa-solid fa-right-to-bracket"></i> Login </a></li>
                <li><a class="dropdown-item" href="/admin/login/logout"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscador de Recetas" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
    </div>

</header>

<body class="m-0 vh-100 row justify-content-center align-items-center">
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

<footer class="holder bg-light">
    <p><b><i>Desarrollado por Galo Budiño - 2023</i></b></p>
</footer>

</html>
