
  <div class="holder  justify-content-center">
    <section class="Bienvenidos">
      <h2><b>Bienvenido {{ nombre }}</b></h2>
      <img src="/images/home.png">
      <br>
      <br>
      <p>
        Esta aplicación dará solución a la problemática diaria de las comidas (desayuno, almuerzo, merienda, cena y entre comidas), intentando poner un orden nutricional a esta problemática.
        <br><br>
        Es real el dilema de toda familia, no saber que comer y, si para cierta preparación, tenemos los ingredientes en la alacena.
        <br><br>
        Esta solución contará con un calendario de comidas, una biblioteca de recetas y una lista de almacén que propondrá, basado en las recetas disponibles y el consumo de ingredientes, que productos hay que reponer.
        <br><br>
        Lo invitamos a utilizar esta solución para brindarle a su familia una dieta más equilibrada, a la vez que soluciona problemas típicos y frecuentes, y ayuda a la contabilidad familiar.
        <br>
        <br>
      </p>
    </section>
  </div>
