<div class="container holder">
  <section class="Bienvenidos">
    <br>
    <h2>Contactos</h2>
    <br>
    <p>
      Ellos son los craneos
      <br>
    </p>
  </section>
</div>

<div class="container holder align-items-left">

  <div class="row align-items-center">
    <div class="col">
      <div class="card col" style="width: 250px;">
        <img src="images/nerd1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">José</h5>
          <p class="card-text">Nació en el 2000. Vive en Ituzaingó y es Desarrollador Web Full-Stack</p>
          <a href="mailto:jose@morfifacil.com" class="btn btn-primary">Escribame</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card col" style="width: 250px;">
        <img src="images/nerd2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Manuel</h5>
          <p class="card-text">Nació en 1998, vive en Salta Capital y es Diseñador Web</p>
          <a href="mailto:manuel@morfifacil.com" class="btn btn-primary">Escribame</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card col" style="width: 250px;">
        <img src="images/nerd3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mariano</h5>
          <p class="card-text">Nació en 2001, vive en Ushuaia y es nutricionista.</p>
          <a href="mailto:mariano@morfifacil.com" class="btn btn-primary">Escribame</a
        </div>
      </div>
    </div>
  </div>

</div>

<br><br>
<div class="holder2">
  <section class="Bienvenidos">
    <br>
    <h2>Contactos</h2>
    <br>
    <p>
      Desde acá puede realizarnos cualquier consulta que vea necesaria.
      <br>
    </p>
  </section>
</div>

<div class="holder2">
<form method="post" action="/contactos/nuevo">
  <div class="mb-3">
    <label for="nombre" class="form-label">nombre</label>
    <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="mail" class="form-label">correo</label>
    <input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo de consulta</label>
    <select class="form-select" name="tipo" id="tipo">
      <option value="Consulta">Consulta</option>
      <option value="Soporte">Soporte</option>
      <option value="Mejora">Mejora</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="consulta" class="form-label">Consulta</label>
    <textarea class="form-control" name="consulta" id="consulta" rows=6 aria-label="Ingrese su consulta"></textarea>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary ">Enviar</button>
  </div>
</form>




  <div class="holder2">
    <section class="Bienvenidos">
      <br>
      <h2>Consultas realizadas</h2>
      <br>
    </section>
  </div>



  <div class="holder2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">tipo de consulta</th>
        <th scope="col">nombre</th>
        <th scope="col">consulta</th>
      </tr>
    </thead>
    <tbody>
    {{#each consultas}}
      <tr>
        <td scope="row" width="10%">{{id_com}}</th>
        <td scope="row" width="20%">{{tipo}}</td>
        <td scope="row" width="20%" align="left"><p>{{nombre}}</p></td>
        <td scope="row" width="50%" align="left"><p>{{consulta}}</p></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  </div>


</div>
<br>
<br>
